<div
    class="flex flex-col items-center justify-center text-center h-screen"
    th:fragment="content"
>
    <div
        class="bg-gradient-to-b from-slate-800 to-gray-900 rounded-md shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]"
    >
        <div class="flex flex-col items-center text-center p-6">
            <img
                src="/images/logo-light.svg"
                alt="MapacheGym"
                class="h-24 w-24"
            />
            <div class="font-semibold text-glow pt-2">
                <span class="text-white">Mapache</span
                ><span class="text-red-500">Gym</span>
            </div>
        </div>
        <form method="POST" th:action="@{/logincheck}">
            <input
                type="hidden"
                name="${_csrf.parameterName}"
                value="${_csrf.token}"
            />
            <div class="mx-4">
                <div class="mt-6 mx-6 text-left">
                    <label class="font-bold text-white ml-1.5">Usuario</label>
                    <br />
                    <input
                        class="mt-1.5 py-2 px-5 rounded-full placeholder:text-slate-500 placeholder:text-opacity-50 text-sm font-medium focus:outline-none focus:ring-4 focus:ring-red-500 transition duration-300 ease-in-out hover:ring-4 hover:ring-red-500 hover:transition-transform hover:scale-105"
                        placeholder="Ingrese su usuario"
                        id="usuario"
                        name="usuario"
                        type="usuario"
                        autocomplete="usuario"
                        required
                    />
                </div>
                <div class="mx-6 mb-6 mt-4 text-left">
                    <label class="font-bold text-white ml-1.5"
                        >Contraseña</label
                    >
                    <br />
                    <input
                        class="mt-1.5 py-2 px-5 rounded-full placeholder:text-slate-500 placeholder:text-opacity-50 text-sm font-medium focus:outline-none focus:ring-4 focus:ring-red-500 transition duration-300 ease-in-out hover:ring-4 hover:ring-red-500 hover:transition-transform hover:scale-105"
                        placeholder="Ingrese su contraseña"
                        id="password"
                        name="password"
                        type="password"
                        autocomplete="current-password"
                        required
                    />
                </div>
                <div>
                    <button
                        type="submit"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded transition duration-300 mb-4 hover:ring-red-500 hover:transition-transform hover:scale-110"
                    >
                        Ingresar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var currentUrl = window.location.href;
    if (currentUrl.includes("?error")) {
        Swal.fire({
            icon: "error",
            title: "Error",
            text: "Error usuario o contraseña incorrectos",
        });
    }
</script>

<script th:fragment="script"></script>
