<div
    class="text-white p-4 m-2 rounded-sm flex flex-col justify-center"
    th:fragment="content"
>
    <form class="flex justify-center mb-6" th:action="@{/membresias/nueva}">
        <button
            class="mt-8 bg-red-800 border-solid border border-white text-white rounded-full px-4 py-2 hover:bg-white hover:text-red-800 transition duration-300"
            type="submit"
        >
            Registrar Nueva Membresia
        </button>
    </form>

    <div class="overflow-x-auto">
        <table id="tabla" class="min-w-full shadow-md mx-auto text-center">
            <thead class="bg-red-800 bg-opacity-70 text-sm">
                <tr>
                    <th class="w-1/12 px-2 py-1 text-center">ID</th>
                    <th class="w-1/12 px-2 py-1 text-center">Descripcion</th>
                    <th class="w-1/12 px-2 py-1 text-center">
                        Tipo de Membresia
                    </th>
                    <th class="w-1/12 px-2 py-1 text-center">Precio</th>
                    <th class="w-1/12 px-2 py-1 text-center">Dias Semanales</th>
                    <th class="w-1/12 px-2 py-1 text-center">Accion</th>
                </tr>
            </thead>

            <tbody class="font-semibold divide-y divide-gray-200 text-black">
                <tr class="bg-slate-600" th:each="membresia : ${membresias}">
                    <td
                        class="px-2 py-1"
                        th:text="${membresia.idMembresia}"
                    ></td>
                    <td
                        class="px-2 py-1"
                        th:text="${membresia.descripcion}"
                    ></td>
                    <td
                        class="px-2 py-1"
                        th:text="${membresia.tipoMembresia}"
                    ></td>
                    <td class="px-2 py-1" th:text="${membresia.precio}"></td>
                    <td
                        class="px-2 py-1"
                        th:text="${membresia.diasSemanales}"
                    ></td>
                    <td class="px-2 py-1">
                        <form th:action="@{/membresias/eliminar}" method="post">
                            <input
                                type="hidden"
                                name="membresia"
                                th:value="${membresia.idMembresia}"
                            />
                            <button
                                class="bg-red-800 p-1.5 w-28 mt-2 rounded-2xl border-solid borde border-white text-white hover:bg-red-600 hover:transition duration-300"
                                type="submit"
                            >
                                Eliminar Membresia
                            </button>
                        </form>

                        <form th:action="@{/membresias/modificar-membresia}">
                            <input
                                type="hidden"
                                th:name="id"
                                th:value="${membresia.idMembresia}"
                            />
                            <button
                                class="w-28 bg-yellow-400 p-1.5 mt-2 rounded-2xl border-solid borde border-white text-white hover:bg-yellow-300 hover:text-black transition duration-300"
                                type="submit"
                            >
                                Modificar Membresia
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:if="${alertScript}" th:inline="javascript">
    var errorMessage = /*[[${error}]]*/ "";
    var successMessage = /*[[${success}]]*/ "";
    if (errorMessage) {
        Swal.fire({
            icon: "error",
            title: "Error",
            text: errorMessage,
        });
    } else if (successMessage) {
        Swal.fire({
            icon: "success",
            title: "Exito",
            text: successMessage,
        });
    }
</script>
<script th:fragment="script"></script>
