<main
    class="text-white p-4 m-2 rounded-sm flex flex-col justify-center"
    th:fragment="content"
>
    <form
        class="flex justify-center mt-6 mb-6"
        method="get"
        th:action="@{/pagos/cliente/nuevo}"
    >
        <input type="hidden" th:name="idCliente" th:value="${idCliente}" />
        <button
            class="bg-red-800 border-solid border border-white text-white rounded-full px-4 py-2 hover:bg-white hover:text-red-800 transition duration-300"
            type="submit"
        >
            Registrar Nuevo Pago
        </button>
    </form>

    <div class="overflow-x-auto">
        <table id="tabla" class="min-w-full shadow-md mx-auto text-center">
            <thead class="bg-red-800">
                <tr>
                    <th class="w-1/12 px-2 py-1 text-center">Nombre</th>
                    <th class="w-1/12 px-2 py-1 text-center">Apellido</th>
                    <th class="w-1/12 px-2 py-1 text-center">DNI</th>
                    <th class="w-1/12 px-2 py-1 text-center">Telefono</th>
                    <th class="w-1/12 px-2 py-1 text-center">Status</th>
                    <th class="w-1/12 px-2 py-1 text-center">Tipo Membresia</th>
                    <th class="w-1/12 px-2 py-1 text-center">Fecha Abonada</th>
                    <th class="w-1/12 px-2 py-1 text-center">Fecha Fin</th>
                    <th class="w-1/12 px-2 py-1 text-center">Valor Abonado</th>
                    <th class="w-1/12 px-2 py-1 text-center">Accion</th>
                </tr>
            </thead>
            <tbody class="font-semibold divide-y divide-gray-200 text-black">
                <tr class="bg-slate-700" th:each="pago : ${pagos}">
                    <td class="px-2 py-1" th:text="${pago.cliente.nombre}">
                        Juan
                    </td>
                    <td class="px-2 py-1" th:text="${pago.cliente.apellido}">
                        Lopez
                    </td>
                    <td class="px-2 py-1" th:text="${pago.cliente.dni}">
                        413412
                    </td>
                    <td class="px-2 py-1" th:text="${pago.cliente.telefono}">
                        34141341
                    </td>
                    <td class="px-2 py-1" th:text="${pago.cliente.status}"></td>
                    <td
                        class="px-2 py-1"
                        th:text="${pago.membresia.tipoMembresia}"
                    ></td>

                    <td class="px-2 py-1" th:text="${pago.fechaPago}"></td>

                    <td class="px-2 py-1" th:text="${pago.validez}"></td>
                    <td class="px-2 py-1" th:text="${pago.valorAbonado}"></td>

                    <td class="px-2 py-1">
                        <form th:action="@{/pagos/eliminar}" method="post">
                            <input
                                type="hidden"
                                name="idPago"
                                th:value="${pago.idPago}"
                            />
                            <input
                                type="hidden"
                                name="idCliente"
                                th:value="${pago.cliente.id}"
                            />
                            <button
                                class="bg-red-800 mt-2 p-1.5 rounded-2xl border-solid borde border-white text-white hover:bg-red-600 hover:transition duration-300"
                                type="submit"
                            >
                                Eliminar
                            </button>
                        </form>

                        <form th:action="@{/pagos/cliente/modificar}">
                            <input
                                type="hidden"
                                th:name="idPago"
                                th:value="${pago.idPago}"
                            />
                            <input
                                type="hidden"
                                th:name="idCliente"
                                th:value="${pago.cliente.id}"
                            />
                            <button
                                class="bg-yellow-400 mt-2 mb-2 p-1.5 rounded-2xl border-solid borde border-white text-white hover:bg-yellow-300 hover:text-black transition duration-300"
                                type="submit"
                            >
                                Modificar
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<script th:if="${alertScript}" th:inline="javascript">
    var errorMessage = /*[[${error}]]*/ "";
    var successMessage = /*[[${success}]]*/ "";
    if (errorMessage) {
        Swal.fire({
            icon: "error",
            title: "Error",
            text: errorMessage,
        });
    } else if (successMessage) {
        Swal.fire({
            icon: "success",
            title: "Exito",
            text: successMessage,
        });
    }
</script>
<script th:fragment="script"></script>
