<main
    class="text-white p-4 m-2 rounded-sm flex justify-center"
    th:fragment="content"
>

<div class="inline-flex flex-col items-center rounded-md p-6 m-12 px-12 bg-gradient-to-b from-gray-900 to-gray-900 via-opacity-0 via-opacity-0 bg-no-repeat bg-fixed text-white font-light shadow-sm shadow-black">
        <form  th:action="@{/pagos/clientes/update}"
            method="post">
            <div>
                <input type="hidden" th:name="idCliente" th:value="${idCliente}" />
                <input type="hidden" th:name="idPago" th:value="${idPago}" />

            <div class="mb-4 text-xl">
                <span class="font-semibold ">Registrar </span><span class=" text-red-400 font-semibold">pago</span>
            </div>
            <div class="text-left">
                        <span class="font-sans text-sm">Tipo Membresia</span>
                        <select class="p-1.5 rounded-md text-black mb-2"  name="idMembresia">
                            <option  th:each="membresia : ${membresias}"  th:value="${membresia.idMembresia}" th:text="${membresia.tipoMembresia}"></option>
                        </select> 
                    </div>
            <div>
                <input class=" bg-red-600 rounded-sm text-white w-full py-2 mb-2 hover:bg-red-800 transition duration-300 mt-4" value="Guardar Pago" type="submit">
            </div>
        </form>
    </div>


</main>
<script th:fragment="script"></script>