<!DOCTYPE html>
<html
    lang="es"
    style="position: relative; min-height: 100%"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="${title + ' - MapacheGym'}"></title>

        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/output.css" />
        <link rel="stylesheet" href="/css/custom.css" />

        <!-- FontAwesome -->
        <script
            src="https://kit.fontawesome.com/a61e4a3119.js"
            crossorigin="anonymous"
        ></script>
        <script src="/js/script.js"></script>

        <!-- data table -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Referencia a DataTables -->
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
        />
        <script
            type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
        ></script>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>

        <script src="/js/jtable.js"></script>
    </head>

    <body
        class="bg-gradient-to-b from-gray-800 to-gray-900 via-opacity-0 via-opacity-0 bg-no-repeat bg-fixed"
    >
        <!-- <div
            th:unless="${showHeader}"
            class="text-sm text-white font-medium transition-transform transform hover:scale-125 md:hover:scale-105 duration-200 bg-red-500 max-w-fit px-3 py-1.5 m-4 fixed rounded-full md:rounded-2xl flex items-center"
        >
            <a href="/" class="fa fa-arrow-left"></a>
            <a href="/" class="hidden md:flex pl-2">Volver al inicio</a>
        </div> -->

        <div th:if="${showHeader}">
            <header th:replace="~{fragments/header :: header}"></header>
        </div>

        <div>
            <main th:replace="~{${view} :: content}"></main>
        </div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>

        <!-- DataTables JS -->
        <!-- <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->
        <script th:replace="~{${view} :: script}" />
    </body>
</html>
