html,
body,
:root {
  height: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer,
.footer-art {
  margin-top: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #750a0a #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: #2d3748;
}

*::-webkit-scrollbar-track:hover {
  background-color: #2d3748;
}

*::-webkit-scrollbar-track:active {
  background-color: #2d3748;
}

*::-webkit-scrollbar-thumb {
  border-radius: 19px;
  background-color: #750a0a;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a31e1e;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #a30000;
}

.text-glow:hover {
  transition: text-shadow 200ms ease-in-out;
  text-shadow: 0 0 5px #e27272;
}

.shadow-red-900 {
  text-shadow: 0 0 8px #742a2a;
}

.image-shadow-red-900 {
  filter: drop-shadow(
    0px 0px 8px #742a2a
  ); /* Ajusta los valores según sea necesario */
}

.shadow-black {
  text-shadow: 0 0 8px #000000;
}

.membership-bg-basico {
  background-image: url(res/basico.png);
  background-position: center;
  background-size: 100%;
}

.membership-bg-mapache {
  background-image: url(res/mapache.png);
  background-position: center;
  background-size: 100%;
}

.membership-bg-feroz {
  background-image: url(res/feroz.png);
  background-position: top;
  background-size: 100%;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

.hover\:animate-shake:hover {
  animation: shake 0.3s ease-in-out infinite;
}

/* --------Cambia color de texto de los botones paginar en las tablas PD: No tengo idea si el color del hover esta bien----------- */
#tabla_wrapper .paginate_button {
  color: white !important;
  background-color: rgb(154, 44, 43, 1);
}
#tabla_wrapper .paginate_button:hover {
  background-color: rgb(180, 55, 53);
}

/* ESTO ES EL BUSCADOR DE DATATABLE */
#tabla_filter {
  color: white !important;
}

/* desaparece la x del buscador jtable al escribir */
.dataTables_wrapper
  .dataTables_filter
  input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

#tabla_length {
  color: white !important;
}

#tabla_length option {
  color: black !important;
}

.dataTables_length select:focus {
  outline: none; /* Elimina el borde de enfoque */
  border: none; /* Elimina cualquier borde */
}

.dataTables_info {
  color: white !important;
}
