<main
    class="text-white p-4 m-2 rounded-sm flex justify-center"
    th:fragment="content"
>
    <div class="inline-flex flex-col items-center rounded-md p-6 m-12 px-12 bg-gradient-to-b from-gray-900 to-gray-900 via-opacity-0 via-opacity-0 bg-no-repeat bg-fixed text-white font-light shadow-sm shadow-black" id="registro-asistencias">
        <div class="mb-4 text-xl">
        <span class="font-semibold">Registrar </span><span class="text-red-400 font-semibold">Asistencia</span>
        </div>

        <form th:action="@{/asistencias/crear}" method="post">
            <input
                class="p-1.5 rounded-md placeholder-red-500 text-black mb-2 flex"
                id="dniAsistencia"
                type="number"
                th:name="dniAsistencia"
                th:value="${dniAsistencia}"
                pattern="[0-9]{8}"
                placeholder="Ingrese su DNI"
                required
            />
            <button
                class="bg-red-600 rounded-sm text-white w-full py-2 mb-2 hover:bg-red-800 transition duration-300 mt-4"
                type="submit"
            >
                Registrar Asistencia
            </button>
        </form>
    </div>
</main>

<script th:if="${alertScript}" th:inline="javascript">
    var errorMessage = /*[[${error}]]*/ "";
    var successMessage = /*[[${success}]]*/ "";
    if (errorMessage) {
        Swal.fire({
            icon: "error",
            title: "Error",
            text: errorMessage,
        });
    } else if (successMessage) {
        Swal.fire({
            icon: "success",
            title: "Exito",
            text: successMessage,
        });
    }
</script>
<script th:fragment="script"></script>
